/* smartphone */
@media all and (max-width: 600px) and (min-width: 280px) {
    .mobileNav {
        display: block;
        position: relative;
        background-color: #ffffff00;
        left: 0;
        right: 0;
        margin: 1vw;
        margin-bottom: 3vw;
        border-radius: 2.5em;
        overflow: hidden;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    }

    .mobileNav a {
        text-decoration: none;
        font-size: 7vw;
        color: white;
    }

    .mobileNav {
        -webkit-transition: background .1s linear;
        -moz-transition: background .1s linear;
        -ms-transition: background .1s linear;
        -o-transition: background .1s linear;
        transition: background .1s linear;
    }

    .pageSelector {
        overflow: auto;
        white-space: nowrap;
        border-radius: 2.5em;
        background-color: #428BFF;
      }
      .scrollmenu::-webkit-scrollbar {
        display: none;
      }
      

}

/* tablet */
@media all and (max-width: 950px) and (min-width: 600px) {
    .mobileNav {
        display: none;
    }
}

@keyframes bounce{
	0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
	40% {
    transform: translateY(-20px);
  }
	60% {
    transform: translateY(-10px);
  }
}
